@using ProductRecommender.Models
@model Profile
@{
    ViewBag.Title = "Recommend";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Profile profile = Model;
    var BoughtProducts = (List<Product>)ViewData["boughtproducts"];
    var Suggestedproducts = (List<Tuple<Product, float>>)ViewData["suggestedproducts"];
}
<div class="row">
    <div class="col-sm-9">

        <h1><span class="glyphicon glyphicon-barcode"></span> Products Recommender</h1>
    </div>

    <div class="col-sm-3">
        <img src="~/images/@profile.ProfileImageName" width="50" height="50" align="bottom" class="img-rounded" title="@profile.ProfileName profile" />
        <h4> @profile.ProfileName </h4>
    </div>
</div>
<hr />

<br />
<h3 style="color:brown"><b>Your Recently Bought Products</b></h3>
<div class="row">
    @foreach (var product in BoughtProducts)
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-block">
                    <h3 class="card-title">@product.ProductName</h3>
                </div>
            </div>
        </div>
    }
</div>

<hr />
<h3 style="color:brown"><b>Recommended Products</b></h3>
<div class="row">
    @foreach (Tuple<Product, float> product in Suggestedproducts)
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-block">
                    <h3 class="card-title">@product.Item1.ProductName</h3>
                    @{
                        var formatted = product.Item2.ToString("0.##\\%");
                        <span class="glyphicon glyphicon-fire"></span>@formatted;
                    }
                    <a href="@Url.Action("Buy", "Products")" class="btn-xs btn-primary">Buy Product</a>
                </div>
            </div>
        </div>
    }
</div>
<br />
<hr />
<button type="button" class="btn breadcrumb" id="select" onclick="location.href='@Url.Action("Recommend", "Products", new {id = profile.ProfileID})'">
    <span class="glyphicon glyphicon-fire"></span> Recommended
</button>
<button type="button" class="btn breadcrumb" id="select" onclick="location.href='@Url.Action("Profiles", "Products")'">
    <span class="glyphicon glyphicon-dashboard"></span> Switch Profiles
</button>
